---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import DescargaSQLServerNavegador from "../assets/documentacion/DescargaSQLServerNavegador.png"
import LinkDeDescarga from "../assets/documentacion/LinkDeDescarga.png"
import OpcionesDeSqlServer from "../assets/documentacion/OpcionesDeSqlServe.jpg"
import DescargaDeSQL from "../assets/documentacion/DescargaDeSQL.png"
import DescargaDeSMSS from "../assets/documentacion/DescargaDeSMSS.jpg"
import LinkDeDescargaSMSS from "../assets/documentacion/LinkDeDescargaSMSS.jpg"
import ServerConnection from "../assets/sobre-sql/ServerConnection.png"
---

<Layout title="Instalacion">

    <main>
        
        <h2 class="fuente-subtitulos tamano-lg">
			Guía de Instalación
		</h2>
        
        <article>
            <h3>
                Requisitos
            </h3>
            <p>
                Los requisitos para instalar SQL Server pueden variar según la edición y la versión. 
                Por lo general, necesitarás un sistema operativo compatible, suficiente memoria RAM, 
                espacio en disco y otros componentes según las funciones que planeas utilizar.
            </p>
        </article>

        <article>
            <h3>Ediciones y versiones de SQL</h3>
            <p>
                SQL Server tiene varias ediciones, como <strong>Enterprise</strong>, <strong>Standard</strong>, <strong>Express</strong> y <strong>Express</strong>, 
                cada una con características y capacidades diferentes. 
                Las versiones suelen recibir actualizaciones siendo la última <strong>SQL server 2022</strong>.
            </p>
        </article>

        <article>
            <p>
                La <strong>instalación</strong> de SQL Server es un proceso relativamente sencillo, 
                pero que requiere atención a los detalles para asegurarse 
                de que todo esté configurado correctamente.
            </p>
        </article>

        <article>
            <h3>Pasos a seguir para instalar SQL Server</h3>
            <div>
                <h4>Primer Paso</h4>
                <p>
                    Necesitas descargar el instalador desde la página oficial de Microsoft:
                </p>
                <span>
                    <Image src={DescargaSQLServerNavegador} alt="ruta en el navegador para descargar sql server"/>
                </span>
                <p>
                    Y entre a la siguiente página:
                </p>
                <span>
                    <Image src={LinkDeDescarga} alt="link de descarga de sql server"/>
                </span>
                <p>
                    Una vez dentro, encontrará más a abajo lo siguiente:
                </p>
                <span>
                    <Image src={OpcionesDeSqlServer} alt="opciones de sql server"/>
                </span>
                <p>
                    En cuanto esté ahí, haga clic en el botón señalado. 
                    A continuación le aparecerá la descarga arriba a la derecha de su pantalla.
                </p>
                <span>
                    <Image src={DescargaDeSQL} alt="descarga de sql server"/>
                </span>
                <p>
                    Una vez que lo tenga descargado, abra el archivo y le aparecerá 
                    una ventana emergente que le preguntará si permite que la app 
                    realice cambios en el dispositivo, presione <strong>“SI”</strong>. 
                </p>
                <p>
                    Ya ejecutado, verá el instalador en la pantalla dándole a elegir un tipo de instalación, 
                    continuará seleccionando <strong>“Basic”</strong> y aceptando las políticas de privacidad.
                </p>
                <p>
                    Ahora solamente presione el botón que dice <strong>“Install”</strong> en la esquina derecha abajo de la ventana.
                </p>
                <p>
                    Durante la instalación, se te preguntará acerca de la configuración del servidor, 
                    como la autenticación (puedes elegir entre autenticación de Windows o autenticación de SQL Server) 
                    y los servicios que deseas instalar (como el Motor de Base de Datos, Reporting Services, Analysis Services, etc.). 
                    Cada una de estas decisiones impactará en cómo usas el SQL Server y qué capacidades tendrás disponibles.
                </p>
                <p>
                    Una vez la instalación haya sido completada exitosamente, se te preguntará acerca de la configuración del servidor, 
                    como la autenticación (puedes elegir entre autenticación de Windows o autenticación de SQL Server) 
                    y los servicios que deseas instalar (como el Motor de Base de Datos, Reporting Services, Analysis Services, etc.).
                </p>
                <p>
                    Presione el botón que dice “Install SSMS” para continuar con la descarga de 
                    SQL Server Management Studio. Al haber hecho <strong>clic en “Install SSMS”</strong> lo llevará a la siguiente 
                    página de Microsoft donde seleccionará <strong>“Download SSMS”</strong>.
                </p>
                <span>
                    <Image src={DescargaDeSMSS} alt="Descarga de SMSS" width={DescargaDeSMSS.width / 2.5} height={DescargaDeSMSS.height / 2.5}/>
                </span>
                <p>
                    Y hará clic en lo siguiente:
                </p>
                <span>
                    <Image src={LinkDeDescargaSMSS} alt="Link de descarga SMSS" width={DescargaDeSMSS.width / 2.5} height={DescargaDeSMSS.height / 2.5}/>
                </span>

                <p>
                    Se iniciará una descarga de un archivo llamado <strong>“SSMS-Setup-ENU.exe” </strong>
                    en el mismo lugar donde se visualizó la primera descarga. Cuando termine esta, 
                    abrirá el archivo y en su lugar le aparecerá una ventana dándole la bienvenida a 
                    Microsoft <strong>SQL Server Management Studio</strong>.  
                    Le aparecerá una ventana emergente que le 
                    preguntará si permite que la app realice cambios en el dispositivo, <strong>presione “SI”</strong>. 
                    A continuación no tiene que hacer más que presionar <strong>“Install”</strong> tal como indica.
                </p>

                <p>
                    Completa la descarga exitosamente debería decirle <strong>“Setup completed”</strong>, 
                    luego solo cierre la ventana seleccionando el botón <strong>“Close”</strong> debajo.
                </p>

                <p>
                    Ahora vuelva al SQL Server Installer y seleccione <strong>“Connect Now”</strong> para conectarse a un servidor.
                </p>

                <span>
                    <Image  src={ServerConnection} 
                            alt={"Management Studio SQL Server Server Connection"}
                            width={ServerConnection.width / 1.5} 
                            height={ServerConnection.height / 1.5}
                    />
                </span>
                
                <p>
                    Al conectarse a un servidor en SSMS, se pueden establecer diversas opciones 
                    como la autenticación (Windows o SQL Server), el nombre del servidor, 
                    la base de datos predeterminada, y opciones avanzadas como la configuración de 
                    la conexión y la seguridad.
                </p>

            </div>
        </article>

    </main>

</Layout>

<style>

    main {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-inline: auto;
        width: clamp(25rem, 75%, 45rem);
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    span {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    h2 {
        max-width: 30rem;
		font-weight: 500;
		color: black;
		text-align: center;
    }
    h3 {
        font-weight: 600;
    }
    h4 {
        font-weight: 500;
    }

</style>